* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.app {
  width: 100%;
  height: 800px;
  background: linear-gradient(150deg, #fff 0%, #fff4f4 84.51%);
  padding-top: 1.94rem;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: flex-start;
  padding: 0 2rem;
}

#logo {
  width: 100px;
  height: 20.886px;
}

#photo {
  width: 23.4375rem;
  align-self: center;
  height: 250px;
  background-image: url("hero-mobile.jpg");
}

#info {
  padding: 64px 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  width: 19.4375rem;
  color: #423a3a;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.625rem;
  letter-spacing: 0.67656rem;
}

#title-init {
  color: #ce9898;
  font-weight: 300;
}

p {
  margin: 1rem 0 2rem;
  color: #ce9898;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  width: 19.4375rem;
}

#input {
  width: 19.4375rem;
  height: 3rem;
  position: relative;
}

#input input {
  width: 100%;
  height: 100%;
  border: 1px solid #ce9898;
  border-radius: 1.75rem;
  opacity: 0.5;
  color: #423a3a;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  padding-left: 1.5rem;
  opacity: 1;
}

#input input::placeholder {
  color: #ce9898;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  opacity: 0.5;
  position: absolute;
  top: 1.1rem;
}

#input button {
  width: 4rem;
  height: 3rem;
  background: linear-gradient(150deg, #f8bfbf 0%, #ee8b8b 100%);
  border: none;
  border-radius: 1.75rem;
  position: absolute;
  right: 0;
  box-shadow: 0px 15px 20px 0px rgba(198, 110, 110, 0.25);
}

#input .error {
  border: 2px solid #f96464;
}

#error-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 4.5rem;
  top: 0.81rem;
}

#input p {
  color: #f96464;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-left: 1.5rem;
}

@media screen and (min-width: 1225px) {
  .app {
    height: 50rem;
    width: 90rem;
    background: url("bg-pattern-desktop.svg");
    position: relative;
    align-items: flex-start;
  }

  nav {
    padding: 4.5rem 10.31rem 0;
  }

  #logo {
    width: 9.875rem;
    height: 2.0625rem;
  }

  #photo {
    background-image: url("hero-desktop.jpg");
    position: absolute;
    top: 0;
    right: 0;
    height: 50rem;
    width: 610px;
  }

  #info {
    padding: 8.51rem 0 0 10.31rem;
    text-align: left;
  }

  h1 {
    width: 27.75rem;
    color: #423a3a;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 1.08256rem;
  }

  p {
    margin: 2rem 0 2.5rem;
    font-size: 1rem;
    line-height: 1.75rem;
    width: 27.75rem;
  }

  #input {
    width: 27.8125rem;
    height: 3.5rem;
  }

  #input input {
    font-size: 1rem;
    padding-left: 2rem;
  }

  #input input::placeholder {
    font-size: 1rem;
    top: 1.35rem;
  }

  #input button {
    width: 6.25rem;
    height: 3.5rem;
  }

  #input button:hover {
    background: linear-gradient(150deg, #f8bfbf 100%, #ee8b8b 100%);
    cursor: pointer;
  }

  #error-icon {
    right: 7.25rem;
    top: 1rem;
  }

  #input p {
    margin: 0.25rem 0 0 2rem;
    line-height: 1.75rem;
  }
}
